body {
  margin: 0;
  padding: 0;
  background: var(--dark-grey);
  color: var(--maroon);
  font-family: "Montserrat", sans-serif;
  font-family: "Philosopher", sans-serif;
  --cloudy-blue: #cbd0c9;
  --cafe: #362a1e;
  --green-grey: #7b7c6d;
  --grey: #929996;
  --copper: #b38d3e;
  --dark-grey: #5e5d59;
  --maroon: #7c3532;
  --aubergine: #613835;
  --teal: #94aca7;
}

nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 3em 3em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

nav ul li {
  display: inline-block;
  margin: 0;
  background-color: var(--maroon);
  opacity: 85%;
  border-radius: 45px;
}

nav a {
  width: 100%;
  height: 100%;
  color: var(--cafe);
  text-decoration: none;
  font-family: "Philosopher", sans-serif;
  font-size: 2.35em;
  letter-spacing: 1px;
  transition: 0.25s ease-in-out;
}

nav a:hover {
  color: var(--maroon);
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
  float: right;
}

.hamburger:focus {
  outline: none;
}

.nav-bg {
  content: "";
  position: absolute;
  display: flex;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: none;
  transition: 0.45s ease-in-out;
}

.bg-hidden {
  top: -100%;
  opacity: 0;
}

.bg-visible {
  top: 0;
  opacity: 1;
}

.hero-image {
  height: 550px;
  background-color: rgb(50, 50, 50);
  background-image: url("lightstock_477505_medium_lyndsie_lane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  max-height: 65px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.content-wrapper {
  width: 80%;
  height: 2800px;
  padding: 1em 10%;
}

.content-wrapper h1 {
  margin: 0;
  font-size: 40px;
  color: var(--green-grey);
  text-align: center;
  text-shadow: 2px 2px var(--copper);
}

#about {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.intro-info img {
  height: 16rem;
  width: 12rem;
  border-radius: 50%;
  float: left;
  margin-right: 3em;
  border: 3px solid var(--aubergine);
}

.lead p {
  padding-top: 15px;
  text-align: justify;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.skillset {
  background-color: var(--cloudy-blue);
  padding: 5px;
  transform: skewX(-15deg);
}

.skills {
  font-family: "Philosopher", sans-serif;
  font-size: 40px;
  text-decoration: underline solid var(--cafe);
  letter-spacing: 0.1em;
  text-align: center;
  transform: skewX(15deg);
}

.skillicons {
  font-size: 4.5rem;
  list-style: none;
  color: var(--teal);
  display: flex;
  justify-content: space-around;
  transform: skewX(15deg);
}

.skillicons li {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.main {
  max-width: 1600px;
  margin: auto;
}

.main h1 {
  font-size: 40px;
  color: var(--dark-grey);
  text-align: center;
  margin-top: 30px;
}

.main img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  color: var(--aubergine);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  width: 40%;
  cursor: pointer;
  background: transparent;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  list-style: none;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: var(--cloudy-blue);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 500px;
}

.card_content {
  padding: 1.2rem;
}

.card_title {
  color: var(--teal);
  font-size: 1.7rem;
  margin: 0px;
  font-family: "Philosopher", sans-serif;
}

.card_text {
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.contact {
  background-color: var(--aubergine);
  padding: 5px;
  transform: skewX(15deg);
  margin-top: 55px;
}

.contact h2 {
  transform: skewX(-15deg);
  font-family: Philosopher;
  font-size: 35px;
  text-decoration: underline var(--copper);
  text-align: center;
}

.contact ul {
  transform: skewX(-15deg);
  font-size: 4.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.contact a {
  color: var(--dark-grey);
}

.contact a:focus {
  color: var(--cafe);
}

.contact a:visited {
  color: var(--maroon);
}

.footer {
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--aubergine);
  font-family: "Philosopher", sans-serif;
  font-size: 34px;
  text-shadow: 4px 4px var(--cafe);

@media only screen and (max-width: 2100px) {
  .logo {
    width: 50px;
  }
  .intro-info img {
    height: 12rem;
    width: 8rem;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    background: url(../assets/Photos/lightstock_477505_medium_lyndsie_lane) no-repeat fixed;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1380px) {
  .footer {
    width: 100%;
    font-size: 20px;
    height: 100px;
    position: relative;
  }

  .content-wrapper {
    height: 4000px;
  }
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 40px;
  }
  .intro-info img {
    height: 9rem;
    width: 5rem;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-info .lead {
    padding-left: 1rem;
  }

  #about {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lead p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }

  .hero {
    background: url(../assets/Photos/lightstock_477505_medium_lyndsie_lane) no-repeat fixed;
    overflow: hidden;
  }

  .cards {
    min-width: 40rem;
  }

  .cards_item {
    width: 50%;
  }

  .content-wrapper {
    height: 3200px;
  }
}

@media only screen and (max-width: 879px) {
  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-ul.show {
    display: flex;
  }

  .logo {
    width: 30px;
  }

  .hamburger {
    display: block;
  }

  .intro-info img {
    height: 8rem;
    width: 5rem;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-info .lead {
    padding-left: 3rem;
  }

  #about {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lead p {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }

  .hero {
    background: url(../assets/Photos/lightstock_477505_medium_lyndsie_lane.jpg) no-repeat fixed;
    overflow: hidden;
  }

  .cards {
    min-width: 40rem;
  }

  .cards_item {
    width: 50%;
  }
}
