body {
    margin: 0;
    padding: 0;
    background: var(--outer-space);
    color: var(--humming-bird);
    font-family: 'Acme', sans-serif;
    font-family: 'Philosopher', sans-serif;
    --persian-red: #c83f29;
    --outer-space: #293f42;
    --viking: #5cd1d8;
    --burnt-umber: #822d22;
    --meng: #3d848a;
    --boston-blue: #3e9fa9;
    --humming-bird: #bef6f6;
    --aubergine: #430d09;
    --ming: #336b74;
    --keppel: #3eaca4;
}
  
nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: .3em 3em;
}
  
nav ul li {
    display: inline-block;
    margin: 0;
    padding: .2em .7em;
}
  
nav a {
    width: 100%;
    height: 100%;
    color: var(--persian-red);
    text-shadow: 2px 1px var(--humming-bird);
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 2.35em;
    letter-spacing: 1px;
    transition: .25s ease-in-out;
}

nav a:hover {
    color: var(--burnt-umber);
}


.hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
    float: right;
}

.hamburger:focus {
    outline: none;
}

.nav-bg {
    content: '';
    position: absolute;
    display: flex;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--ming);
    transition: .45s ease-in-out;
}

.bg-hidden {
    top: -100%;
    opacity: 0;
}

.bg-visible {
    top: 0;
    opacity: 1;
}
  
.hero {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgb(50, 50, 50);
    background: url(../assets/Photos/bigstock--140791445.jpg) no-repeat 50% 50% fixed;
    background-size: 130%;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: .3em;
    font-weight: lighter;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    text-shadow: 4px 3px var(--persian-red);
    color: var(--humming-bird);
}

.logo {
    max-height: 65px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.content-wrapper {
    width: 80%;
    height: 3000px;
    padding: 1em 10%;
}

.content-wrapper h1 {
    margin: 0;
    font-size: 35px;
    color: var(--humming-bird);
    text-align: center;
    text-decoration: underline dotted var(--burnt-umber);
}

#about {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.intro-info img {
	height: 16rem;
	width: 12rem;
	border-radius: 50%;
	float: left;
    margin-right: 3em;
    border: 3px solid var(--boston-blue);
}

.lead p {
    padding-top: 15px;
	text-align: justify;
    font-size: 20px;
    font-family: acme;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 30px;
    }
    .intro-info img {
        height: 10rem;
        width: 6rem;
    }

    .intro-info .lead {
        padding-left: 1rem;
    }

    #about {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.lead p {
    text-align: left;
    font-size: 16px;
    font-family: acme;
}

@media only screen and (max-width: 879px) {
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul.show {
        display: flex;
    }

    .logo {
        width: 30px;
    }

    .hamburger {
        display: block;
    }

    .intro-info img {
        height: 5rem;
        width: 3rem;
    }

    .intro-info .lead {
        padding-left: 3rem;
    }

    #about {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .lead p {
        text-align: left;
        font-size: 16px;
        font-family: acme;
    }
}

