
:root {
    --acme-font: 'Acme', sans-serif;
    --lora-font: 'Lora', serif;
    --philosopher-font: 'Philosopher', sans-serif;
    --teal: #46a8af;
    --red: #9f221f;
    --light-teal: #a8fcfc;
    --light-red: #ed3933;
    --grey: #162d2f;
    background-color: lightgray;
}

div p {
   font-family: var(--lora-font);
    font-size: 20px;
    display: flex;
    float: inline;
    margin-right: 250px;
    margin-top: 40px;
    text-align: justify;
    line-height: 30px;
}

div h4 {
    font-family: var(--philosopher-font);
    font-size: 30px;
}

footer {
    background-color: var(--teal);
    color: var(--red);
    font-family: var(--acme-font);
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

#hero {
    background: url(../assets/Portfolio\ Header.jpg) no-repeat center center;
    background-size: cover;
}

.title {
    font-size: 65px;
    font-family: var(--philosopher-font);
    color: var(--teal);
    margin-top: 350px;
}

.subtitle {
    font-size: 55px;
    font-family: var(--acme-font);
    color: var(--teal);
    margin-left: 950px;
    margin-top: 350px;
}

.navbar-menu {
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
}

.self-portrait {
    float: right;
    height: 300px;
    width: 169px;
}

.cards {
    margin-top: 30px;
    width: 100%;
}

.card {
    flex: 1 1 auto;
    border: 6px solid var(--light-teal);
    margin-top: 70px;
}

#project-featured {
    background: url(../assets/Project\ Large.jpg), linear-gradient(rgba(179, 255, 255, 0.3),rgba(179, 255, 255, 0.3));
    background-blend-mode: overlay;
    background-size: cover;
    height: 400px;
}

#project-one {
    background: url(../assets/Project\ 1.jpg), linear-gradient(rgba(179, 255, 255, 0.5),rgba(179, 255, 255, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 400px;
}

#project-two {
    background: url(../assets/Project\ 2.jpg), linear-gradient(rgba(179, 255, 255, 0.5),rgba(179, 255, 255, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 400px;
}

#project-three {
    background: url(../assets/Project\ 3.jpg), linear-gradient(rgba(179, 255, 255, 0.5),rgba(179, 255, 255, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 400px;
}

#project-four {
    background: url(../assets/Project\ 4.jpg), linear-gradient(rgba(179, 255, 255, 0.5),rgba(179, 255, 255, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 400px;
}

#project-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: var(--light-teal);
    color: var(--teal);
    padding: 20px;
}

#project-featured:hover {
    background-blend-mode: normal;
}

#project-one:hover {
    background-blend-mode: normal;
}

#project-two:hover {
    background-blend-mode: normal;
}

#project-three:hover {
    background-blend-mode: normal;
}

#project-four:hover {
    background-blend-mode: normal;
}